## Pandas for Exploratory Data Analysis

WHO alcohol consumption data:  
* article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
* original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption  
* file: drinks.csv (with additional 'continent' column)

In [1]:
import pandas as pd

In [2]:
import os
from pathlib import Path

In [3]:
# where are we?
home = Path.cwd()
print(home)

/Users/austinlasseter/atelier/generalassembly/datdc35/04-pandas-eda/code

In [4]:
# what's the parent folder?
print(home.parent)

/Users/austinlasseter/atelier/generalassembly/datdc35/04-pandas-eda

In [5]:
# what's in the data folder?
os.listdir(Path.joinpath(home.parent, 'data'))

['Production.ProductSubcategory.csv',
 'drinks.csv',
 'imdb_1000.csv',
 'ufo.csv',
 'Sales.SalesOrderHeader.csv',
 'titanic.csv',
 'u.user',
 'Sales.SalesOrderDetail.csv',
 'Production.Product.csv']

In [6]:
# read in the dataset.
path2data='../data/drinks.csv'
path2data=Path.joinpath(home.parent, 'data', 'drinks.csv')
drinks = pd.read_csv(path2data)

# EDA alcohol consumption dataset

In [7]:
# print the head and the tail
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [8]:
# examine the default index, data types, and shape
print(drinks.index)
print(drinks.dtypes)
print(drinks.shape)

RangeIndex(start=0, stop=193, step=1)
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object
(193, 6)

In [9]:
# what are the columns?
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [10]:
# print the 'beer_servings' Series
drinks['beer_servings'].head(3)

0     0
1    89
2    25
Name: beer_servings, dtype: int64

In [11]:
# Remember that there are two ways to call a column title!
drinks.beer_servings.head(2)

0     0
1    89
Name: beer_servings, dtype: int64

### Quick note about "dot notation" in `pandas`
The "dot notation", i.e. df.col2 is the attribute access that's exposed as a convenience.

A couple of caveats about attribute access:
* you cannot add a column (df.new_col = x won't work, worse: it will silently actually create a new attribute rather than a column - think monkey-patching here)
* it won't work if you have spaces in the column name or if the column name is an integer.

In [12]:
# calculate the average 'beer_servings' for the entire dataset
drinks.beer_servings.mean()

106.16062176165804

In [13]:
# count the number of occurrences of each 'continent' value and see if it looks correct
print(drinks.columns)
drinks.continent.value_counts()

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

# EDA

In [14]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [15]:
# filter DataFrame to only include European countries
drinks[drinks['continent'] == 'EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [16]:
# filter DataFrame to only include European countries with wine_servings > 300
drinks[(drinks['continent'] == 'EU') & (drinks['wine_servings'] > 300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [17]:
# calculate the average 'beer_servings' for all of Europe
round(drinks[drinks['continent'] == 'EU'].beer_servings.mean(), 2)

193.78

In [18]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol
drinks.sort_values('total_litres_of_pure_alcohol', ascending=False)[0:10].country

15                Belarus
98              Lithuania
3                 Andorra
68                Grenada
45         Czech Republic
61                 France
141    Russian Federation
81                Ireland
155              Slovakia
99             Luxembourg
Name: country, dtype: object

### Renaming, Adding, and Removing Columns

In [19]:
# renaming one or more columns
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [20]:
# but of course you need to use 'inplace' for this to stick.
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

In [21]:
# what if I want to replace all column names?
# first, make a list.
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']

In [22]:
drinks = pd.read_csv(path2data, header=0, names=drink_cols)  # replace during file reading

In [23]:
drinks.columns = drink_cols                                     # replace after file reading

In [24]:
# add a new column as a function of existing columns
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine

In [25]:
drinks['mL'] = drinks.liters * 1000

### removing columns

In [26]:
drinks.drop('mL', axis=1)                               # axis=0 for rows, 1 for columns

                  country  beer  spirit  wine  liters continent  servings
0             Afghanistan     0       0     0     0.0        AS         0
1                 Albania    89     132    54     4.9        EU       275
2                 Algeria    25       0    14     0.7        AF        39
3                 Andorra   245     138   312    12.4        EU       695
4                  Angola   217      57    45     5.9        AF       319
5       Antigua & Barbuda   102     128    45     4.9       NaN       275
6               Argentina   193      25   221     8.3        SA       439
7                 Armenia    21     179    11     3.8        EU       211
8               Australia   261      72   212    10.4        OC       545
9                 Austria   279      75   191     9.7        EU       545
10             Azerbaijan    21      46     5     1.3        EU        72
11                Bahamas   122     176    51     6.3       NaN       349
12                Bahrain    42      63     7     2.0        AS       112
13             Bangladesh     0       0     0     0.0        AS         0
14               Barbados   143     173    36     6.3       NaN       352
15                Belarus   142     373    42    14.4        EU       557
16                Belgium   295      84   212    10.5        EU       591
17                 Belize   263     114     8     6.8       NaN       385
18                  Benin    34       4    13     1.1        AF        51
19                 Bhutan    23       0     0     0.4        AS        23
20                Bolivia   167      41     8     3.8        SA       216
21     Bosnia-Herzegovina    76     173     8     4.6        EU       257
22               Botswana   173      35    35     5.4        AF       243
23                 Brazil   245     145    16     7.2        SA       406
24                 Brunei    31       2     1     0.6        AS        34
25               Bulgaria   231     252    94    10.3        EU       577
26           Burkina Faso    25       7     7     4.3        AF        39
27                Burundi    88       0     0     6.3        AF        88
28          Cote d'Ivoire    37       1     7     4.0        AF        45
29             Cabo Verde   144      56    16     4.0        AF       216
..                    ...   ...     ...   ...     ...       ...       ...
163              Suriname   128     178     7     5.6        SA       313
164             Swaziland    90       2     2     4.7        AF        94
165                Sweden   152      60   186     7.2        EU       398
166           Switzerland   185     100   280    10.2        EU       565
167                 Syria     5      35    16     1.0        AS        56
168            Tajikistan     2      15     0     0.3        AS        17
169              Thailand    99     258     1     6.4        AS       358
170             Macedonia   106      27    86     3.9        EU       219
171           Timor-Leste     1       1     4     0.1        AS         6
172                  Togo    36       2    19     1.3        AF        57
173                 Tonga    36      21     5     1.1        OC        62
174     Trinidad & Tobago   197     156     7     6.4       NaN       360
175               Tunisia    51       3    20     1.3        AF        74
176                Turkey    51      22     7     1.4        AS        80
177          Turkmenistan    19      71    32     2.2        AS       122
178                Tuvalu     6      41     9     1.0        OC        56
179                Uganda    45       9     0     8.3        AF        54
180               Ukraine   206     237    45     8.9        EU       488
181  United Arab Emirates    16     135     5     2.8        AS       156
182        United Kingdom   219     126   195    10.4        EU       540
183              Tanzania    36       6     1     5.7        AF        43
184                   USA   249     158    84     8.7       NaN       491
185               Uruguay   115      35   220     6.6        SA       370
186            Uzbekistan    25     101     8     2.4        AS       134
187               Vanuatu    21      18    11     0.9        OC        50
188             Venezuela   333     100     3     7.7        SA       436
189               Vietnam   111       2     1     2.0        AS       114
190                 Yemen     6       0     0     0.1        AS         6
191                Zambia    32      19     4     2.5        AF        55
192              Zimbabwe    64      18     4     4.7        AF        86

[193 rows x 7 columns]

In [27]:
# drop multiple columns
drinks.drop(['mL', 'servings'], axis=1)

                  country  beer  spirit  wine  liters continent
0             Afghanistan     0       0     0     0.0        AS
1                 Albania    89     132    54     4.9        EU
2                 Algeria    25       0    14     0.7        AF
3                 Andorra   245     138   312    12.4        EU
4                  Angola   217      57    45     5.9        AF
5       Antigua & Barbuda   102     128    45     4.9       NaN
6               Argentina   193      25   221     8.3        SA
7                 Armenia    21     179    11     3.8        EU
8               Australia   261      72   212    10.4        OC
9                 Austria   279      75   191     9.7        EU
10             Azerbaijan    21      46     5     1.3        EU
11                Bahamas   122     176    51     6.3       NaN
12                Bahrain    42      63     7     2.0        AS
13             Bangladesh     0       0     0     0.0        AS
14               Barbados   143     173    36     6.3       NaN
15                Belarus   142     373    42    14.4        EU
16                Belgium   295      84   212    10.5        EU
17                 Belize   263     114     8     6.8       NaN
18                  Benin    34       4    13     1.1        AF
19                 Bhutan    23       0     0     0.4        AS
20                Bolivia   167      41     8     3.8        SA
21     Bosnia-Herzegovina    76     173     8     4.6        EU
22               Botswana   173      35    35     5.4        AF
23                 Brazil   245     145    16     7.2        SA
24                 Brunei    31       2     1     0.6        AS
25               Bulgaria   231     252    94    10.3        EU
26           Burkina Faso    25       7     7     4.3        AF
27                Burundi    88       0     0     6.3        AF
28          Cote d'Ivoire    37       1     7     4.0        AF
29             Cabo Verde   144      56    16     4.0        AF
..                    ...   ...     ...   ...     ...       ...
163              Suriname   128     178     7     5.6        SA
164             Swaziland    90       2     2     4.7        AF
165                Sweden   152      60   186     7.2        EU
166           Switzerland   185     100   280    10.2        EU
167                 Syria     5      35    16     1.0        AS
168            Tajikistan     2      15     0     0.3        AS
169              Thailand    99     258     1     6.4        AS
170             Macedonia   106      27    86     3.9        EU
171           Timor-Leste     1       1     4     0.1        AS
172                  Togo    36       2    19     1.3        AF
173                 Tonga    36      21     5     1.1        OC
174     Trinidad & Tobago   197     156     7     6.4       NaN
175               Tunisia    51       3    20     1.3        AF
176                Turkey    51      22     7     1.4        AS
177          Turkmenistan    19      71    32     2.2        AS
178                Tuvalu     6      41     9     1.0        OC
179                Uganda    45       9     0     8.3        AF
180               Ukraine   206     237    45     8.9        EU
181  United Arab Emirates    16     135     5     2.8        AS
182        United Kingdom   219     126   195    10.4        EU
183              Tanzania    36       6     1     5.7        AF
184                   USA   249     158    84     8.7       NaN
185               Uruguay   115      35   220     6.6        SA
186            Uzbekistan    25     101     8     2.4        AS
187               Vanuatu    21      18    11     0.9        OC
188             Venezuela   333     100     3     7.7        SA
189               Vietnam   111       2     1     2.0        AS
190                 Yemen     6       0     0     0.1        AS
191                Zambia    32      19     4     2.5        AF
192              Zimbabwe    64      18     4     4.7        AF

[193 rows x 6 columns]

In [28]:
# make it permanent
drinks.drop(['mL', 'servings'], axis=1, inplace=True)

### Handling Missing Values

#### missing values are usually excluded by default

In [29]:
drinks.continent.value_counts()              # excludes missing values

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [30]:
drinks.continent.value_counts(dropna=False)  # includes missing values

AF     53
EU     45
AS     44
NaN    23
OC     16
SA     12
Name: continent, dtype: int64

In [31]:
## Hmmm. Something suspicious about those missing values.
drinks['continent'].head()

0    AS
1    EU
2    AF
3    EU
4    AF
Name: continent, dtype: object

#### find missing values in a Series

In [32]:
drinks.continent.isnull()           # True if missing, False if not missing

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14      True
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174     True
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184     True
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
Name: continent, Length: 193, dtype: bool

In [33]:
drinks.continent.isnull().sum()     # count the missing values

23

In [34]:
drinks.continent.notnull()          # True if not missing, False if missing

0       True
1       True
2       True
3       True
4       True
5      False
6       True
7       True
8       True
9       True
10      True
11     False
12      True
13      True
14     False
15      True
16      True
17     False
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
163     True
164     True
165     True
166     True
167     True
168     True
169     True
170     True
171     True
172     True
173     True
174    False
175     True
176     True
177     True
178     True
179     True
180     True
181     True
182     True
183     True
184    False
185     True
186     True
187     True
188     True
189     True
190     True
191     True
192     True
Name: continent, Length: 193, dtype: bool

In [35]:
drinks[drinks.continent.isnull()]  # only show rows where continent is not missing

                          country  beer  spirit  wine  liters continent
5               Antigua & Barbuda   102     128    45     4.9       NaN
11                        Bahamas   122     176    51     6.3       NaN
14                       Barbados   143     173    36     6.3       NaN
17                         Belize   263     114     8     6.8       NaN
32                         Canada   240     122   100     8.2       NaN
41                     Costa Rica   149      87    11     4.4       NaN
43                           Cuba    93     137     5     4.2       NaN
50                       Dominica    52     286    26     6.6       NaN
51             Dominican Republic   193     147     9     6.2       NaN
54                    El Salvador    52      69     2     2.2       NaN
68                        Grenada   199     438    28    11.9       NaN
69                      Guatemala    53      69     2     2.2       NaN
73                          Haiti     1     326     1     5.9       NaN
74                       Honduras    69      98     2     3.0       NaN
84                        Jamaica    82      97     9     3.4       NaN
109                        Mexico   238      68     5     5.5       NaN
122                     Nicaragua    78     118     1     3.5       NaN
130                        Panama   285     104    18     7.2       NaN
143             St. Kitts & Nevis   194     205    32     7.7       NaN
144                     St. Lucia   171     315    71    10.1       NaN
145  St. Vincent & the Grenadines   120     221    11     6.3       NaN
174             Trinidad & Tobago   197     156     7     6.4       NaN
184                           USA   249     158    84     8.7       NaN

#### side note: understanding axes

In [36]:
drinks.sum(axis=0)      # sums "down" the 0 axis (rows)

country    AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...
beer                                                   20489
spirit                                                 15632
wine                                                    9544
liters                                                 910.4
dtype: object

In [37]:
drinks.sum()            # axis=0 is the default

country    AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua ...
beer                                                   20489
spirit                                                 15632
wine                                                    9544
liters                                                 910.4
dtype: object

In [38]:
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

0        0.0
1      279.9
2       39.7
3      707.4
4      324.9
5      279.9
6      447.3
7      214.8
8      555.4
9      554.7
10      73.3
11     355.3
12     114.0
13       0.0
14     358.3
15     571.4
16     601.5
17     391.8
18      52.1
19      23.4
20     219.8
21     261.6
22     248.4
23     413.2
24      34.6
25     587.3
26      43.3
27      94.3
28      49.0
29     220.0
       ...
163    318.6
164     98.7
165    405.2
166    575.2
167     57.0
168     17.3
169    364.4
170    222.9
171      6.1
172     58.3
173     63.1
174    366.4
175     75.3
176     81.4
177    124.2
178     57.0
179     62.3
180    496.9
181    158.8
182    550.4
183     48.7
184    499.7
185    376.6
186    136.4
187     50.9
188    443.7
189    116.0
190      6.1
191     57.5
192     90.7
Length: 193, dtype: float64

#### find missing values in a DataFrame

In [39]:
drinks.isnull()             # DataFrame of booleans

     country   beer  spirit   wine  liters  continent
0      False  False   False  False   False      False
1      False  False   False  False   False      False
2      False  False   False  False   False      False
3      False  False   False  False   False      False
4      False  False   False  False   False      False
5      False  False   False  False   False       True
6      False  False   False  False   False      False
7      False  False   False  False   False      False
8      False  False   False  False   False      False
9      False  False   False  False   False      False
10     False  False   False  False   False      False
11     False  False   False  False   False       True
12     False  False   False  False   False      False
13     False  False   False  False   False      False
14     False  False   False  False   False       True
15     False  False   False  False   False      False
16     False  False   False  False   False      False
17     False  False   False  False   False       True
18     False  False   False  False   False      False
19     False  False   False  False   False      False
20     False  False   False  False   False      False
21     False  False   False  False   False      False
22     False  False   False  False   False      False
23     False  False   False  False   False      False
24     False  False   False  False   False      False
25     False  False   False  False   False      False
26     False  False   False  False   False      False
27     False  False   False  False   False      False
28     False  False   False  False   False      False
29     False  False   False  False   False      False
..       ...    ...     ...    ...     ...        ...
163    False  False   False  False   False      False
164    False  False   False  False   False      False
165    False  False   False  False   False      False
166    False  False   False  False   False      False
167    False  False   False  False   False      False
168    False  False   False  False   False      False
169    False  False   False  False   False      False
170    False  False   False  False   False      False
171    False  False   False  False   False      False
172    False  False   False  False   False      False
173    False  False   False  False   False      False
174    False  False   False  False   False       True
175    False  False   False  False   False      False
176    False  False   False  False   False      False
177    False  False   False  False   False      False
178    False  False   False  False   False      False
179    False  False   False  False   False      False
180    False  False   False  False   False      False
181    False  False   False  False   False      False
182    False  False   False  False   False      False
183    False  False   False  False   False      False
184    False  False   False  False   False       True
185    False  False   False  False   False      False
186    False  False   False  False   False      False
187    False  False   False  False   False      False
188    False  False   False  False   False      False
189    False  False   False  False   False      False
190    False  False   False  False   False      False
191    False  False   False  False   False      False
192    False  False   False  False   False      False

[193 rows x 6 columns]

In [40]:
drinks.isnull().sum()       # count the missing values in each column

country       0
beer          0
spirit        0
wine          0
liters        0
continent    23
dtype: int64

#### drop missing values

In [41]:
# How many rows and columns?
drinks.shape

(193, 6)

In [42]:
drinks.dropna(inplace=True)             # drop a row if ANY values are missing
print(drinks.shape)

(170, 6)

In [43]:
drinks.dropna(how='all')    # drop a row only if ALL values are missing

                      country  beer  spirit  wine  liters continent
0                 Afghanistan     0       0     0     0.0        AS
1                     Albania    89     132    54     4.9        EU
2                     Algeria    25       0    14     0.7        AF
3                     Andorra   245     138   312    12.4        EU
4                      Angola   217      57    45     5.9        AF
6                   Argentina   193      25   221     8.3        SA
7                     Armenia    21     179    11     3.8        EU
8                   Australia   261      72   212    10.4        OC
9                     Austria   279      75   191     9.7        EU
10                 Azerbaijan    21      46     5     1.3        EU
12                    Bahrain    42      63     7     2.0        AS
13                 Bangladesh     0       0     0     0.0        AS
15                    Belarus   142     373    42    14.4        EU
16                    Belgium   295      84   212    10.5        EU
18                      Benin    34       4    13     1.1        AF
19                     Bhutan    23       0     0     0.4        AS
20                    Bolivia   167      41     8     3.8        SA
21         Bosnia-Herzegovina    76     173     8     4.6        EU
22                   Botswana   173      35    35     5.4        AF
23                     Brazil   245     145    16     7.2        SA
24                     Brunei    31       2     1     0.6        AS
25                   Bulgaria   231     252    94    10.3        EU
26               Burkina Faso    25       7     7     4.3        AF
27                    Burundi    88       0     0     6.3        AF
28              Cote d'Ivoire    37       1     7     4.0        AF
29                 Cabo Verde   144      56    16     4.0        AF
30                   Cambodia    57      65     1     2.2        AS
31                   Cameroon   147       1     4     5.8        AF
33   Central African Republic    17       2     1     1.8        AF
34                       Chad    15       1     1     0.4        AF
..                        ...   ...     ...   ...     ...       ...
161                 Sri Lanka    16     104     0     2.2        AS
162                     Sudan     8      13     0     1.7        AF
163                  Suriname   128     178     7     5.6        SA
164                 Swaziland    90       2     2     4.7        AF
165                    Sweden   152      60   186     7.2        EU
166               Switzerland   185     100   280    10.2        EU
167                     Syria     5      35    16     1.0        AS
168                Tajikistan     2      15     0     0.3        AS
169                  Thailand    99     258     1     6.4        AS
170                 Macedonia   106      27    86     3.9        EU
171               Timor-Leste     1       1     4     0.1        AS
172                      Togo    36       2    19     1.3        AF
173                     Tonga    36      21     5     1.1        OC
175                   Tunisia    51       3    20     1.3        AF
176                    Turkey    51      22     7     1.4        AS
177              Turkmenistan    19      71    32     2.2        AS
178                    Tuvalu     6      41     9     1.0        OC
179                    Uganda    45       9     0     8.3        AF
180                   Ukraine   206     237    45     8.9        EU
181      United Arab Emirates    16     135     5     2.8        AS
182            United Kingdom   219     126   195    10.4        EU
183                  Tanzania    36       6     1     5.7        AF
185                   Uruguay   115      35   220     6.6        SA
186                Uzbekistan    25     101     8     2.4        AS
187                   Vanuatu    21      18    11     0.9        OC
188                 Venezuela   333     100     3     7.7        SA
189                   Vietnam   111       2     1     2.0        AS
190                     Yemen     6       0     0     0.1        AS
191                    Zambia    32      19     4     2.5        AF
192                  Zimbabwe    64      18     4     4.7        AF

[170 rows x 6 columns]

#### fill in missing values

In [44]:
drinks.continent.fillna(value='NA')                 # fill in missing values with 'NA'

0      AS
1      EU
2      AF
3      EU
4      AF
6      SA
7      EU
8      OC
9      EU
10     EU
12     AS
13     AS
15     EU
16     EU
18     AF
19     AS
20     SA
21     EU
22     AF
23     SA
24     AS
25     EU
26     AF
27     AF
28     AF
29     AF
30     AS
31     AF
33     AF
34     AF
       ..
161    AS
162    AF
163    SA
164    AF
165    EU
166    EU
167    AS
168    AS
169    AS
170    EU
171    AS
172    AF
173    OC
175    AF
176    AS
177    AS
178    OC
179    AF
180    EU
181    AS
182    EU
183    AF
185    SA
186    AS
187    OC
188    SA
189    AS
190    AS
191    AF
192    AF
Name: continent, Length: 170, dtype: object

In [45]:
drinks.continent.fillna(value='NA', inplace=True)   # modifies 'drinks' in-place

In [46]:
# turn off the missing value filter
drinks = pd.read_csv(path2data, header=0, names=drink_cols, na_filter=False)
drinks.head(6) # Now North America is back!

             country  beer  spirit  wine  liters continent
0        Afghanistan     0       0     0     0.0        AS
1            Albania    89     132    54     4.9        EU
2            Algeria    25       0    14     0.7        AF
3            Andorra   245     138   312    12.4        EU
4             Angola   217      57    45     5.9        AF
5  Antigua & Barbuda   102     128    45     4.9        NA

### Split-Apply-Combine
![Split-Apply-Combine diagram](http://i.imgur.com/yjNkiwL.png)

In [47]:
# for each continent, calculate the mean beer servings
drinks.groupby('continent').beer.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
NA    145.434783
OC     89.687500
SA    175.083333
Name: beer, dtype: float64

In [48]:
# for each continent, calculate the mean of all numeric columns
drinks.groupby('continent').mean()

                 beer      spirit        wine    liters
continent
AF          61.471698   16.339623   16.264151  3.007547
AS          37.045455   60.840909    9.068182  2.170455
EU         193.777778  132.555556  142.222222  8.617778
NA         145.434783  165.739130   24.521739  5.995652
OC          89.687500   58.437500   35.625000  3.381250
SA         175.083333  114.750000   62.416667  6.308333

In [49]:
# for each continent, describe beer servings
drinks.groupby('continent').beer.describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA          23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

In [50]:
# similar, but outputs a DataFrame and can be customized
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])

           count        mean  min  max
continent
AF            53   61.471698    0  376
AS            44   37.045455    0  247
EU            45  193.777778    0  361
NA            23  145.434783    1  285
OC            16   89.687500    0  306
SA            12  175.083333   93  333

In [51]:
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

           count        mean  min  max
continent
AS            44   37.045455    0  247
AF            53   61.471698    0  376
OC            16   89.687500    0  306
NA            23  145.434783    1  285
SA            12  175.083333   93  333
EU            45  193.777778    0  361

In [52]:
# for each continent, describe all numeric columns
drinks.groupby('continent').describe()

           beer                                                             \
          count        mean        std   min     25%    50%     75%    max
continent
AF         53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS         44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU         45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA         23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC         16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA         12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

          spirit              ...    wine        liters                      \
           count        mean  ...     75%    max  count      mean       std
continent                     ...
AF          53.0   16.339623  ...   13.00  233.0   53.0  3.007547  2.647557
AS          44.0   60.840909  ...    8.00  123.0   44.0  2.170455  2.770239
EU          45.0  132.555556  ...  195.00  370.0   45.0  8.617778  3.358455
NA          23.0  165.739130  ...   34.00  100.0   23.0  5.995652  2.409353
OC          16.0   58.437500  ...   23.25  212.0   16.0  3.381250  3.345688
SA          12.0  114.750000  ...   98.50  221.0   12.0  6.308333  1.531166


           min   25%    50%     75%   max
continent
AF         0.0  0.70   2.30   4.700   9.1
AS         0.0  0.10   1.20   2.425  11.5
EU         0.0  6.60  10.00  10.900  14.4
NA         2.2  4.30   6.30   7.000  11.9
OC         0.0  1.00   1.75   6.150  10.4
SA         3.8  5.25   6.85   7.375   8.3

[6 rows x 32 columns]

In [53]:
# for each continent, count the number of occurrences
drinks.groupby('continent').continent.count()

continent
AF    53
AS    44
EU    45
NA    23
OC    16
SA    12
Name: continent, dtype: int64

In [54]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
NA    23
OC    16
SA    12
Name: continent, dtype: int64

### Other Commonly Used Features

In [55]:
# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')
drinks.head()

       country   beer  spirit  wine  liters continent
0  Afghanistan    0.0       0     0     0.0        AS
1      Albania   89.0     132    54     4.9        EU
2      Algeria   25.0       0    14     0.7        AF
3      Andorra  245.0     138   312    12.4        EU
4       Angola  217.0      57    45     5.9        AF

In [56]:
# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]
continent_dummies.head()

   cont_AS  cont_EU  cont_NA  cont_OC  cont_SA
0        1        0        0        0        0
1        0        1        0        0        0
2        0        0        0        0        0
3        0        1        0        0        0
4        0        0        0        0        0

In [57]:
# concatenate two DataFrames (axis=0 for rows, axis=1 for columns)
drinks = pd.concat([drinks, continent_dummies], axis=1)
drinks.head()

,country,beer,spirit,wine,liters,continent,cont_AS,cont_EU,cont_NA,cont_OC,cont_SA
0,Afghanistan,0.0,0,0,0.0,AS,1,0,0,0,0
1,Albania,89.0,132,54,4.9,EU,0,1,0,0,0
2,Algeria,25.0,0,14,0.7,AF,0,0,0,0,0
3,Andorra,245.0,138,312,12.4,EU,0,1,0,0,0
4,Angola,217.0,57,45,5.9,AF,0,0,0,0,0

### Other Less Used Features

#### convert a range of values into descriptive groups

In [58]:
drinks['beer_level'] = 'low'    # initially set all values to 'low'
drinks.loc[drinks.beer.between(101, 200), 'beer_level'] = 'med'     # change 101-200 to 'med'
drinks.loc[drinks.beer.between(201, 400), 'beer_level'] = 'high'    # change 201-400 to 'high'

In [59]:
# display a cross-tabulation of two Series
pd.crosstab(drinks.continent, drinks.beer_level)

beer_level  high  low  med
continent
AF             4   45    4
AS             1   40    3
EU            24    9   12
NA             5    8   10
OC             3   11    2
SA             3    1    8

In [60]:
# convert 'beer_level' into the 'category' data type
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])
drinks.sort_values('beer_level')   # sorts by the categorical ordering (low to high)

,country,beer,spirit,wine,liters,continent,cont_AS,cont_EU,cont_NA,cont_OC,cont_SA,beer_level
0,Afghanistan,0.0,0,0,0.0,AS,1,0,0,0,0,low
102,Malaysia,13.0,4,0,0.3,AS,1,0,0,0,0,low
103,Maldives,0.0,0,0,0.0,AS,1,0,0,0,0,low
104,Mali,5.0,1,1,0.6,AF,0,0,0,0,0,low
106,Marshall Islands,0.0,0,0,0.0,OC,0,0,0,1,0,low
107,Mauritania,0.0,0,0,0.0,AF,0,0,0,0,0,low
108,Mauritius,98.0,31,18,2.6,AF,0,0,0,0,0,low
101,Malawi,8.0,11,1,1.5,AF,0,0,0,0,0,low
110,Micronesia,62.0,50,18,2.3,OC,0,0,0,1,0,low
112,Mongolia,77.0,189,8,4.9,AS,1,0,0,0,0,low
113,Montenegro,31.0,114,128,4.9,EU,0,1,0,0,0,low
114,Morocco,12.0,6,10,0.5,AF,0,0,0,0,0,low
115,Mozambique,47.0,18,5,1.3,AF,0,0,0,0,0,low
116,Myanmar,5.0,1,0,0.1,AS,1,0,0,0,0,low
118,Nauru,49.0,0,8,1.0,OC,0,0,0,1,0,low
111,Monaco,0.0,0,0,0.0,EU,0,1,0,0,0,low
100,Madagascar,26.0,15,4,0.8,AF,0,0,0,0,0,low
97,Libya,0.0,0,0,0.0,AF,0,0,0,0,0,low
191,Zambia,32.0,19,4,2.5,AF,0,0,0,0,0,low
78,Indonesia,5.0,1,0,0.1,AS,1,0,0,0,0,low
79,Iran,0.0,0,0,0.0,AS,1,0,0,0,0,low
80,Iraq,9.0,3,0,0.2,AS,1,0,0,0,0,low
82,Israel,63.0,69,9,2.5,AS,1,0,0,0,0,low
83,Italy,85.0,42,237,6.5,EU,0,1,0,0,0,low
84,Jamaica,82.0,97,9,3.4,NA,0,0,1,0,0,low
85,Japan,77.0,202,16,7.0,AS,1,0,0,0,0,low
86,Jordan,6.0,21,1,0.5,AS,1,0,0,0,0,low
88,Kenya,58.0,22,2,1.8,AF,0,0,0,0,0,low
89,Kiribati,21.0,34,1,1.0,OC,0,0,0,1,0,low
90,Kuwait,0.0,0,0,0.0,AS,1,0,0,0,0,low
...,...,...,...,...,...,...,...,...,...,...,...,...
3,Andorra,245.0,138,312,12.4,EU,0,1,0,0,0,high
76,Iceland,233.0,61,78,6.6,EU,0,1,0,0,0,high
188,Venezuela,333.0,100,3,7.7,SA,0,0,0,0,1,high
99,Luxembourg,236.0,133,271,11.4,EU,0,1,0,0,0,high
75,Hungary,234.0,215,185,11.3,EU,0,1,0,0,0,high
109,Mexico,238.0,68,5,5.5,NA,0,0,1,0,0,high
57,Estonia,224.0,194,59,9.5,EU,0,1,0,0,0,high
140,Romania,297.0,122,167,10.4,EU,0,1,0,0,0,high
93,Latvia,281.0,216,62,10.5,EU,0,1,0,0,0,high
141,Russian Federation,247.0,326,73,11.5,AS,1,0,0,0,0,high
135,Poland,343.0,215,56,10.9,EU,0,1,0,0,0,high
62,Gabon,347.0,98,59,8.9,AF,0,0,0,0,0,high
132,Paraguay,213.0,117,74,7.3,SA,0,0,0,0,1,high
25,Bulgaria,231.0,252,94,10.3,EU,0,1,0,0,0,high
65,Germany,346.0,117,175,11.3,EU,0,1,0,0,0,high
151,Serbia,283.0,131,127,9.6,EU,0,1,0,0,0,high
130,Panama,285.0,104,18,7.2,NA,0,0,1,0,0,high
23,Brazil,245.0,145,16,7.2,SA,0,0,0,0,1,high
129,Palau,306.0,63,23,6.9,OC,0,0,0,1,0,high
32,Canada,240.0,122,100,8.2,NA,0,0,1,0,0,high
156,Slovenia,270.0,51,276,10.6,EU,0,1,0,0,0,high
60,Finland,263.0,133,97,10.0,EU,0,1,0,0,0,high
159,South Africa,225.0,76,81,8.2,AF,0,0,0,0,0,high
160,Spain,284.0,157,112,10.0,EU,0,1,0,0,0,high
81,Ireland,313.0,118,165,11.4,EU,0,1,0,0,0,high
17,Belize,263.0,114,8,6.8,NA,0,0,1,0,0,high
121,New Zealand,203.0,79,175,9.3,OC,0,0,0,1,0,high
16,Belgium,295.0,84,212,10.5,EU,0,1,0,0,0,high
117,Namibia,376.0,3,1,6.8,AF,0,0,0,0,0,high
120,Netherlands,251.0,88,190,9.4,EU,0,1,0,0,0,high

## A few other useful `pandas` tricks

In [61]:
# write a DataFrame out to a CSV
drinks.to_csv('drinks_updated.csv')                 # index is used as first column
drinks.to_csv('drinks_updated.csv', index=False)    # ignore index

In [63]:
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

      capital state
0  Montgomery    AL
1      Juneau    AK
2     Phoenix    AZ

In [64]:
# create a DataFrame from a list of lists
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

      capital state
0  Montgomery    AL
1      Juneau    AK
2     Phoenix    AZ

In [65]:
# limit which rows are read when reading in a file
drinks_data_url = '../data/drinks.csv'
pd.read_csv(drinks_data_url, nrows=10)           # only read first 10 rows
pd.read_csv(drinks_data_url, skiprows=[1, 2])    # skip the first two rows of data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Algeria,25,0,14,0.7,AF
1,Andorra,245,138,312,12.4,EU
2,Angola,217,57,45,5.9,AF
3,Antigua & Barbuda,102,128,45,4.9,NaN
4,Argentina,193,25,221,8.3,SA
5,Armenia,21,179,11,3.8,EU
6,Australia,261,72,212,10.4,OC
7,Austria,279,75,191,9.7,EU
8,Azerbaijan,21,46,5,1.3,EU
9,Bahamas,122,176,51,6.3,NaN
10,Bahrain,42,63,7,2.0,AS
11,Bangladesh,0,0,0,0.0,AS
12,Barbados,143,173,36,6.3,NaN
13,Belarus,142,373,42,14.4,EU
14,Belgium,295,84,212,10.5,EU
15,Belize,263,114,8,6.8,NaN
16,Benin,34,4,13,1.1,AF
17,Bhutan,23,0,0,0.4,AS
18,Bolivia,167,41,8,3.8,SA
19,Bosnia-Herzegovina,76,173,8,4.6,EU
20,Botswana,173,35,35,5.4,AF
21,Brazil,245,145,16,7.2,SA
22,Brunei,31,2,1,0.6,AS
23,Bulgaria,231,252,94,10.3,EU
24,Burkina Faso,25,7,7,4.3,AF
25,Burundi,88,0,0,6.3,AF
26,Cote d'Ivoire,37,1,7,4.0,AF
27,Cabo Verde,144,56,16,4.0,AF
28,Cambodia,57,65,1,2.2,AS
29,Cameroon,147,1,4,5.8,AF
...,...,...,...,...,...,...
161,Suriname,128,178,7,5.6,SA
162,Swaziland,90,2,2,4.7,AF
163,Sweden,152,60,186,7.2,EU
164,Switzerland,185,100,280,10.2,EU
165,Syria,5,35,16,1.0,AS
166,Tajikistan,2,15,0,0.3,AS
167,Thailand,99,258,1,6.4,AS
168,Macedonia,106,27,86,3.9,EU
169,Timor-Leste,1,1,4,0.1,AS
170,Togo,36,2,19,1.3,AF
171,Tonga,36,21,5,1.1,OC
172,Trinidad & Tobago,197,156,7,6.4,NaN
173,Tunisia,51,3,20,1.3,AF
174,Turkey,51,22,7,1.4,AS
175,Turkmenistan,19,71,32,2.2,AS
176,Tuvalu,6,41,9,1.0,OC
177,Uganda,45,9,0,8.3,AF
178,Ukraine,206,237,45,8.9,EU
179,United Arab Emirates,16,135,5,2.8,AS
180,United Kingdom,219,126,195,10.4,EU
181,Tanzania,36,6,1,5.7,AF
182,USA,249,158,84,8.7,NaN
183,Uruguay,115,35,220,6.6,SA
184,Uzbekistan,25,101,8,2.4,AS
185,Vanuatu,21,18,11,0.9,OC
186,Venezuela,333,100,3,7.7,SA
187,Vietnam,111,2,1,2.0,AS
188,Yemen,6,0,0,0.1,AS
189,Zambia,32,19,4,2.5,AF
190,Zimbabwe,64,18,4,4.7,AF

In [66]:
# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('max_rows', None)     # default is 60 rows
pd.set_option('max_columns', None)  # default is 20 columns
print (drinks)

                          country   beer  spirit  wine  liters continent  \
0                     Afghanistan    0.0       0     0     0.0        AS
1                         Albania   89.0     132    54     4.9        EU
2                         Algeria   25.0       0    14     0.7        AF
3                         Andorra  245.0     138   312    12.4        EU
4                          Angola  217.0      57    45     5.9        AF
5               Antigua & Barbuda  102.0     128    45     4.9        NA
6                       Argentina  193.0      25   221     8.3        SA
7                         Armenia   21.0     179    11     3.8        EU
8                       Australia  261.0      72   212    10.4        OC
9                         Austria  279.0      75   191     9.7        EU
10                     Azerbaijan   21.0      46     5     1.3        EU
11                        Bahamas  122.0     176    51     6.3        NA
12                        Bahrain   42.0      63     7     2.0        AS
13                     Bangladesh    0.0       0     0     0.0        AS
14                       Barbados  143.0     173    36     6.3        NA
15                        Belarus  142.0     373    42    14.4        EU
16                        Belgium  295.0      84   212    10.5        EU
17                         Belize  263.0     114     8     6.8        NA
18                          Benin   34.0       4    13     1.1        AF
19                         Bhutan   23.0       0     0     0.4        AS
20                        Bolivia  167.0      41     8     3.8        SA
21             Bosnia-Herzegovina   76.0     173     8     4.6        EU
22                       Botswana  173.0      35    35     5.4        AF
23                         Brazil  245.0     145    16     7.2        SA
24                         Brunei   31.0       2     1     0.6        AS
25                       Bulgaria  231.0     252    94    10.3        EU
26                   Burkina Faso   25.0       7     7     4.3        AF
27                        Burundi   88.0       0     0     6.3        AF
28                  Cote d'Ivoire   37.0       1     7     4.0        AF
29                     Cabo Verde  144.0      56    16     4.0        AF
30                       Cambodia   57.0      65     1     2.2        AS
31                       Cameroon  147.0       1     4     5.8        AF
32                         Canada  240.0     122   100     8.2        NA
33       Central African Republic   17.0       2     1     1.8        AF
34                           Chad   15.0       1     1     0.4        AF
35                          Chile  130.0     124   172     7.6        SA
36                          China   79.0     192     8     5.0        AS
37                       Colombia  159.0      76     3     4.2        SA
38                        Comoros    1.0       3     1     0.1        AF
39                          Congo   76.0       1     9     1.7        AF
40                   Cook Islands    0.0     254    74     5.9        OC
41                     Costa Rica  149.0      87    11     4.4        NA
42                        Croatia  230.0      87   254    10.2        EU
43                           Cuba   93.0     137     5     4.2        NA
44                         Cyprus  192.0     154   113     8.2        EU
45                 Czech Republic  361.0     170   134    11.8        EU
46                    North Korea    0.0       0     0     0.0        AS
47                       DR Congo   32.0       3     1     2.3        AF
48                        Denmark  224.0      81   278    10.4        EU
49                       Djibouti   15.0      44     3     1.1        AF
50                       Dominica   52.0     286    26     6.6        NA
51             Dominican Republic  193.0     147     9     6.2        NA
52                        Ecuador  162.0      74     3     4.2        SA
53                          Egypt    6.0       4     1     0.2        AF
54                    El Salvador   52.0      69     2     2.2        NA
55              Equatorial Guinea   92.0       0   233     5.8        AF
56                        Eritrea   18.0       0     0     0.5        AF
57                        Estonia  224.0     194    59     9.5        EU
58                       Ethiopia   20.0       3     0     0.7        AF
59                           Fiji   77.0      35     1     2.0        OC
60                        Finland  263.0     133    97    10.0        EU
61                         France  127.0     151   370    11.8        EU
62                          Gabon  347.0      98    59     8.9        AF
63                         Gambia    8.0       0     1     2.4        AF
64                        Georgia   52.0     100   149     5.4        EU
65                        Germany  346.0     117   175    11.3        EU
66                          Ghana   31.0       3    10     1.8        AF
67                         Greece  133.0     112   218     8.3        EU
68                        Grenada  199.0     438    28    11.9        NA
69                      Guatemala   53.0      69     2     2.2        NA
70                         Guinea    9.0       0     2     0.2        AF
71                  Guinea-Bissau   28.0      31    21     2.5        AF
72                         Guyana   93.0     302     1     7.1        SA
73                          Haiti    1.0     326     1     5.9        NA
74                       Honduras   69.0      98     2     3.0        NA
75                        Hungary  234.0     215   185    11.3        EU
76                        Iceland  233.0      61    78     6.6        EU
77                          India    9.0     114     0     2.2        AS
78                      Indonesia    5.0       1     0     0.1        AS
79                           Iran    0.0       0     0     0.0        AS
80                           Iraq    9.0       3     0     0.2        AS
81                        Ireland  313.0     118   165    11.4        EU
82                         Israel   63.0      69     9     2.5        AS
83                          Italy   85.0      42   237     6.5        EU
84                        Jamaica   82.0      97     9     3.4        NA
85                          Japan   77.0     202    16     7.0        AS
86                         Jordan    6.0      21     1     0.5        AS
87                     Kazakhstan  124.0     246    12     6.8        AS
88                          Kenya   58.0      22     2     1.8        AF
89                       Kiribati   21.0      34     1     1.0        OC
90                         Kuwait    0.0       0     0     0.0        AS
91                     Kyrgyzstan   31.0      97     6     2.4        AS
92                           Laos   62.0       0   123     6.2        AS
93                         Latvia  281.0     216    62    10.5        EU
94                        Lebanon   20.0      55    31     1.9        AS
95                        Lesotho   82.0      29     0     2.8        AF
96                        Liberia   19.0     152     2     3.1        AF
97                          Libya    0.0       0     0     0.0        AF
98                      Lithuania  343.0     244    56    12.9        EU
99                     Luxembourg  236.0     133   271    11.4        EU
100                    Madagascar   26.0      15     4     0.8        AF
101                        Malawi    8.0      11     1     1.5        AF
102                      Malaysia   13.0       4     0     0.3        AS
103                      Maldives    0.0       0     0     0.0        AS
104                          Mali    5.0       1     1     0.6        AF
105                         Malta  149.0     100   120     6.6        EU
106              Marshall Islands    0.0       0     0     0.0        OC
107                    Mauritania    0.0       0     0     0.0        AF
108                     Mauritius   98.0      31    18     2.6        AF
109                        Mexico  238.0      68     5     5.5        NA
110                    Micronesia   62.0      50    18     2.3        OC
111                        Monaco    0.0       0     0     0.0        EU
112                      Mongolia   77.0     189     8     4.9        AS
113                    Montenegro   31.0     114   128     4.9        EU
114                       Morocco   12.0       6    10     0.5        AF
115                    Mozambique   47.0      18     5     1.3        AF
116                       Myanmar    5.0       1     0     0.1        AS
117                       Namibia  376.0       3     1     6.8        AF
118                         Nauru   49.0       0     8     1.0        OC
119                         Nepal    5.0       6     0     0.2        AS
120                   Netherlands  251.0      88   190     9.4        EU
121                   New Zealand  203.0      79   175     9.3        OC
122                     Nicaragua   78.0     118     1     3.5        NA
123                         Niger    3.0       2     1     0.1        AF
124                       Nigeria   42.0       5     2     9.1        AF
125                          Niue  188.0     200     7     7.0        OC
126                        Norway  169.0      71   129     6.7        EU
127                          Oman   22.0      16     1     0.7        AS
128                      Pakistan    0.0       0     0     0.0        AS
129                         Palau  306.0      63    23     6.9        OC
130                        Panama  285.0     104    18     7.2        NA
131              Papua New Guinea   44.0      39     1     1.5        OC
132                      Paraguay  213.0     117    74     7.3        SA
133                          Peru  163.0     160    21     6.1        SA
134                   Philippines   71.0     186     1     4.6        AS
135                        Poland  343.0     215    56    10.9        EU
136                      Portugal  194.0      67   339    11.0        EU
137                         Qatar    1.0      42     7     0.9        AS
138                   South Korea  140.0      16     9     9.8        AS
139                       Moldova  109.0     226    18     6.3        EU
140                       Romania  297.0     122   167    10.4        EU
141            Russian Federation  247.0     326    73    11.5        AS
142                        Rwanda   43.0       2     0     6.8        AF
143             St. Kitts & Nevis  194.0     205    32     7.7        NA
144                     St. Lucia  171.0     315    71    10.1        NA
145  St. Vincent & the Grenadines  120.0     221    11     6.3        NA
146                         Samoa  105.0      18    24     2.6        OC
147                    San Marino    0.0       0     0     0.0        EU
148           Sao Tome & Principe   56.0      38   140     4.2        AF
149                  Saudi Arabia    0.0       5     0     0.1        AS
150                       Senegal    9.0       1     7     0.3        AF
151                        Serbia  283.0     131   127     9.6        EU
152                    Seychelles  157.0      25    51     4.1        AF
153                  Sierra Leone   25.0       3     2     6.7        AF
154                     Singapore   60.0      12    11     1.5        AS
155                      Slovakia  196.0     293   116    11.4        EU
156                      Slovenia  270.0      51   276    10.6        EU
157               Solomon Islands   56.0      11     1     1.2        OC
158                       Somalia    0.0       0     0     0.0        AF
159                  South Africa  225.0      76    81     8.2        AF
160                         Spain  284.0     157   112    10.0        EU
161                     Sri Lanka   16.0     104     0     2.2        AS
162                         Sudan    8.0      13     0     1.7        AF
163                      Suriname  128.0     178     7     5.6        SA
164                     Swaziland   90.0       2     2     4.7        AF
165                        Sweden  152.0      60   186     7.2        EU
166                   Switzerland  185.0     100   280    10.2        EU
167                         Syria    5.0      35    16     1.0        AS
168                    Tajikistan    2.0      15     0     0.3        AS
169                      Thailand   99.0     258     1     6.4        AS
170                     Macedonia  106.0      27    86     3.9        EU
171                   Timor-Leste    1.0       1     4     0.1        AS
172                          Togo   36.0       2    19     1.3        AF
173                         Tonga   36.0      21     5     1.1        OC
174             Trinidad & Tobago  197.0     156     7     6.4        NA
175                       Tunisia   51.0       3    20     1.3        AF
176                        Turkey   51.0      22     7     1.4        AS
177                  Turkmenistan   19.0      71    32     2.2        AS
178                        Tuvalu    6.0      41     9     1.0        OC
179                        Uganda   45.0       9     0     8.3        AF
180                       Ukraine  206.0     237    45     8.9        EU
181          United Arab Emirates   16.0     135     5     2.8        AS
182                United Kingdom  219.0     126   195    10.4        EU
183                      Tanzania   36.0       6     1     5.7        AF
184                           USA  249.0     158    84     8.7        NA
185                       Uruguay  115.0      35   220     6.6        SA
186                    Uzbekistan   25.0     101     8     2.4        AS
187                       Vanuatu   21.0      18    11     0.9        OC
188                     Venezuela  333.0     100     3     7.7        SA
189                       Vietnam  111.0       2     1     2.0        AS
190                         Yemen    6.0       0     0     0.1        AS
191                        Zambia   32.0      19     4     2.5        AF
192                      Zimbabwe   64.0      18     4     4.7        AF

     cont_AS  cont_EU  cont_NA  cont_OC  cont_SA beer_level
0          1        0        0        0        0        low
1          0        1        0        0        0        low
2          0        0        0        0        0        low
3          0        1        0        0        0       high
4          0        0        0        0        0       high
5          0        0        1        0        0        med
6          0        0        0        0        1        med
7          0        1        0        0        0        low
8          0        0        0        1        0       high
9          0        1        0        0        0       high
10         0        1        0        0        0        low
11         0        0        1        0        0        med
12         1        0        0        0        0        low
13         1        0        0        0        0        low
14         0        0        1        0        0        med
15         0        1        0        0        0        med
16         0        1        0        0        0       high
17         0        0        1        0        0       high
18         0        0        0        0        0        low
19         1        0        0        0        0        low
20         0        0        0        0        1        med
21         0        1        0        0        0        low
22         0        0        0        0        0        med
23         0        0        0        0        1       high
24         1        0        0        0        0        low
25         0        1        0        0        0       high
26         0        0        0        0        0        low
27         0        0        0        0        0        low
28         0        0        0        0        0        low
29         0        0        0        0        0        med
30         1        0        0        0        0        low
31         0        0        0        0        0        med
32         0        0        1        0        0       high
33         0        0        0        0        0        low
34         0        0        0        0        0        low
35         0        0        0        0        1        med
36         1        0        0        0        0        low
37         0        0        0        0        1        med
38         0        0        0        0        0        low
39         0        0        0        0        0        low
40         0        0        0        1        0        low
41         0        0        1        0        0        med
42         0        1        0        0        0       high
43         0        0        1        0        0        low
44         0        1        0        0        0        med
45         0        1        0        0        0       high
46         1        0        0        0        0        low
47         0        0        0        0        0        low
48         0        1        0        0        0       high
49         0        0        0        0        0        low
50         0        0        1        0        0        low
51         0        0        1        0        0        med
52         0        0        0        0        1        med
53         0        0        0        0        0        low
54         0        0        1        0        0        low
55         0        0        0        0        0        low
56         0        0        0        0        0        low
57         0        1        0        0        0       high
58         0        0        0        0        0        low
59         0        0        0        1        0        low
60         0        1        0        0        0       high
61         0        1        0        0        0        med
62         0        0        0        0        0       high
63         0        0        0        0        0        low
64         0        1        0        0        0        low
65         0        1        0        0        0       high
66         0        0        0        0        0        low
67         0        1        0        0        0        med
68         0        0        1        0        0        med
69         0        0        1        0        0        low
70         0        0        0        0        0        low
71         0        0        0        0        0        low
72         0        0        0        0        1        low
73         0        0        1        0        0        low
74         0        0        1        0        0        low
75         0        1        0        0        0       high
76         0        1        0        0        0       high
77         1        0        0        0        0        low
78         1        0        0        0        0        low
79         1        0        0        0        0        low
80         1        0        0        0        0        low
81         0        1        0        0        0       high
82         1        0        0        0        0        low
83         0        1        0        0        0        low
84         0        0        1        0        0        low
85         1        0        0        0        0        low
86         1        0        0        0        0        low
87         1        0        0        0        0        med
88         0        0        0        0        0        low
89         0        0        0        1        0        low
90         1        0        0        0        0        low
91         1        0        0        0        0        low
92         1        0        0        0        0        low
93         0        1        0        0        0       high
94         1        0        0        0        0        low
95         0        0        0        0        0        low

In [67]:
# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [68]:
# change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print (drinks)

                          country   beer  spirit  wine  liters continent  \
0                     Afghanistan    0.0       0     0     0.0        AS
1                         Albania   89.0     132    54     4.9        EU
2                         Algeria   25.0       0    14     0.7        AF
3                         Andorra  245.0     138   312    12.4        EU
4                          Angola  217.0      57    45     5.9        AF
5               Antigua & Barbuda  102.0     128    45     4.9        NA
6                       Argentina  193.0      25   221     8.3        SA
7                         Armenia   21.0     179    11     3.8        EU
8                       Australia  261.0      72   212    10.4        OC
9                         Austria  279.0      75   191     9.7        EU
10                     Azerbaijan   21.0      46     5     1.3        EU
11                        Bahamas  122.0     176    51     6.3        NA
12                        Bahrain   42.0      63     7     2.0        AS
13                     Bangladesh    0.0       0     0     0.0        AS
14                       Barbados  143.0     173    36     6.3        NA
15                        Belarus  142.0     373    42    14.4        EU
16                        Belgium  295.0      84   212    10.5        EU
17                         Belize  263.0     114     8     6.8        NA
18                          Benin   34.0       4    13     1.1        AF
19                         Bhutan   23.0       0     0     0.4        AS
20                        Bolivia  167.0      41     8     3.8        SA
21             Bosnia-Herzegovina   76.0     173     8     4.6        EU
22                       Botswana  173.0      35    35     5.4        AF
23                         Brazil  245.0     145    16     7.2        SA
24                         Brunei   31.0       2     1     0.6        AS
25                       Bulgaria  231.0     252    94    10.3        EU
26                   Burkina Faso   25.0       7     7     4.3        AF
27                        Burundi   88.0       0     0     6.3        AF
28                  Cote d'Ivoire   37.0       1     7     4.0        AF
29                     Cabo Verde  144.0      56    16     4.0        AF
30                       Cambodia   57.0      65     1     2.2        AS
31                       Cameroon  147.0       1     4     5.8        AF
32                         Canada  240.0     122   100     8.2        NA
33       Central African Republic   17.0       2     1     1.8        AF
34                           Chad   15.0       1     1     0.4        AF
35                          Chile  130.0     124   172     7.6        SA
36                          China   79.0     192     8     5.0        AS
37                       Colombia  159.0      76     3     4.2        SA
38                        Comoros    1.0       3     1     0.1        AF
39                          Congo   76.0       1     9     1.7        AF
40                   Cook Islands    0.0     254    74     5.9        OC
41                     Costa Rica  149.0      87    11     4.4        NA
42                        Croatia  230.0      87   254    10.2        EU
43                           Cuba   93.0     137     5     4.2        NA
44                         Cyprus  192.0     154   113     8.2        EU
45                 Czech Republic  361.0     170   134    11.8        EU
46                    North Korea    0.0       0     0     0.0        AS
47                       DR Congo   32.0       3     1     2.3        AF
48                        Denmark  224.0      81   278    10.4        EU
49                       Djibouti   15.0      44     3     1.1        AF
50                       Dominica   52.0     286    26     6.6        NA
51             Dominican Republic  193.0     147     9     6.2        NA
52                        Ecuador  162.0      74     3     4.2        SA
53                          Egypt    6.0       4     1     0.2        AF
54                    El Salvador   52.0      69     2     2.2        NA
55              Equatorial Guinea   92.0       0   233     5.8        AF
56                        Eritrea   18.0       0     0     0.5        AF
57                        Estonia  224.0     194    59     9.5        EU
58                       Ethiopia   20.0       3     0     0.7        AF
59                           Fiji   77.0      35     1     2.0        OC
60                        Finland  263.0     133    97    10.0        EU
61                         France  127.0     151   370    11.8        EU
62                          Gabon  347.0      98    59     8.9        AF
63                         Gambia    8.0       0     1     2.4        AF
64                        Georgia   52.0     100   149     5.4        EU
65                        Germany  346.0     117   175    11.3        EU
66                          Ghana   31.0       3    10     1.8        AF
67                         Greece  133.0     112   218     8.3        EU
68                        Grenada  199.0     438    28    11.9        NA
69                      Guatemala   53.0      69     2     2.2        NA
70                         Guinea    9.0       0     2     0.2        AF
71                  Guinea-Bissau   28.0      31    21     2.5        AF
72                         Guyana   93.0     302     1     7.1        SA
73                          Haiti    1.0     326     1     5.9        NA
74                       Honduras   69.0      98     2     3.0        NA
75                        Hungary  234.0     215   185    11.3        EU
76                        Iceland  233.0      61    78     6.6        EU
77                          India    9.0     114     0     2.2        AS
78                      Indonesia    5.0       1     0     0.1        AS
79                           Iran    0.0       0     0     0.0        AS
80                           Iraq    9.0       3     0     0.2        AS
81                        Ireland  313.0     118   165    11.4        EU
82                         Israel   63.0      69     9     2.5        AS
83                          Italy   85.0      42   237     6.5        EU
84                        Jamaica   82.0      97     9     3.4        NA
85                          Japan   77.0     202    16     7.0        AS
86                         Jordan    6.0      21     1     0.5        AS
87                     Kazakhstan  124.0     246    12     6.8        AS
88                          Kenya   58.0      22     2     1.8        AF
89                       Kiribati   21.0      34     1     1.0        OC
90                         Kuwait    0.0       0     0     0.0        AS
91                     Kyrgyzstan   31.0      97     6     2.4        AS
92                           Laos   62.0       0   123     6.2        AS
93                         Latvia  281.0     216    62    10.5        EU
94                        Lebanon   20.0      55    31     1.9        AS
95                        Lesotho   82.0      29     0     2.8        AF
96                        Liberia   19.0     152     2     3.1        AF
97                          Libya    0.0       0     0     0.0        AF
98                      Lithuania  343.0     244    56    12.9        EU
99                     Luxembourg  236.0     133   271    11.4        EU
100                    Madagascar   26.0      15     4     0.8        AF
101                        Malawi    8.0      11     1     1.5        AF
102                      Malaysia   13.0       4     0     0.3        AS
103                      Maldives    0.0       0     0     0.0        AS
104                          Mali    5.0       1     1     0.6        AF
105                         Malta  149.0     100   120     6.6        EU
106              Marshall Islands    0.0       0     0     0.0        OC
107                    Mauritania    0.0       0     0     0.0        AF
108                     Mauritius   98.0      31    18     2.6        AF
109                        Mexico  238.0      68     5     5.5        NA
110                    Micronesia   62.0      50    18     2.3        OC
111                        Monaco    0.0       0     0     0.0        EU
112                      Mongolia   77.0     189     8     4.9        AS
113                    Montenegro   31.0     114   128     4.9        EU
114                       Morocco   12.0       6    10     0.5        AF
115                    Mozambique   47.0      18     5     1.3        AF
116                       Myanmar    5.0       1     0     0.1        AS
117                       Namibia  376.0       3     1     6.8        AF
118                         Nauru   49.0       0     8     1.0        OC
119                         Nepal    5.0       6     0     0.2        AS
120                   Netherlands  251.0      88   190     9.4        EU
121                   New Zealand  203.0      79   175     9.3        OC
122                     Nicaragua   78.0     118     1     3.5        NA
123                         Niger    3.0       2     1     0.1        AF
124                       Nigeria   42.0       5     2     9.1        AF
125                          Niue  188.0     200     7     7.0        OC
126                        Norway  169.0      71   129     6.7        EU
127                          Oman   22.0      16     1     0.7        AS
128                      Pakistan    0.0       0     0     0.0        AS
129                         Palau  306.0      63    23     6.9        OC
130                        Panama  285.0     104    18     7.2        NA
131              Papua New Guinea   44.0      39     1     1.5        OC
132                      Paraguay  213.0     117    74     7.3        SA
133                          Peru  163.0     160    21     6.1        SA
134                   Philippines   71.0     186     1     4.6        AS
135                        Poland  343.0     215    56    10.9        EU
136                      Portugal  194.0      67   339    11.0        EU
137                         Qatar    1.0      42     7     0.9        AS
138                   South Korea  140.0      16     9     9.8        AS
139                       Moldova  109.0     226    18     6.3        EU
140                       Romania  297.0     122   167    10.4        EU
141            Russian Federation  247.0     326    73    11.5        AS
142                        Rwanda   43.0       2     0     6.8        AF
143             St. Kitts & Nevis  194.0     205    32     7.7        NA
144                     St. Lucia  171.0     315    71    10.1        NA
145  St. Vincent & the Grenadines  120.0     221    11     6.3        NA
146                         Samoa  105.0      18    24     2.6        OC
147                    San Marino    0.0       0     0     0.0        EU
148           Sao Tome & Principe   56.0      38   140     4.2        AF
149                  Saudi Arabia    0.0       5     0     0.1        AS
150                       Senegal    9.0       1     7     0.3        AF
151                        Serbia  283.0     131   127     9.6        EU
152                    Seychelles  157.0      25    51     4.1        AF
153                  Sierra Leone   25.0       3     2     6.7        AF
154                     Singapore   60.0      12    11     1.5        AS
155                      Slovakia  196.0     293   116    11.4        EU
156                      Slovenia  270.0      51   276    10.6        EU
157               Solomon Islands   56.0      11     1     1.2        OC
158                       Somalia    0.0       0     0     0.0        AF
159                  South Africa  225.0      76    81     8.2        AF
160                         Spain  284.0     157   112    10.0        EU
161                     Sri Lanka   16.0     104     0     2.2        AS
162                         Sudan    8.0      13     0     1.7        AF
163                      Suriname  128.0     178     7     5.6        SA
164                     Swaziland   90.0       2     2     4.7        AF
165                        Sweden  152.0      60   186     7.2        EU
166                   Switzerland  185.0     100   280    10.2        EU
167                         Syria    5.0      35    16     1.0        AS
168                    Tajikistan    2.0      15     0     0.3        AS
169                      Thailand   99.0     258     1     6.4        AS
170                     Macedonia  106.0      27    86     3.9        EU
171                   Timor-Leste    1.0       1     4     0.1        AS
172                          Togo   36.0       2    19     1.3        AF
173                         Tonga   36.0      21     5     1.1        OC
174             Trinidad & Tobago  197.0     156     7     6.4        NA
175                       Tunisia   51.0       3    20     1.3        AF
176                        Turkey   51.0      22     7     1.4        AS
177                  Turkmenistan   19.0      71    32     2.2        AS
178                        Tuvalu    6.0      41     9     1.0        OC
179                        Uganda   45.0       9     0     8.3        AF
180                       Ukraine  206.0     237    45     8.9        EU
181          United Arab Emirates   16.0     135     5     2.8        AS
182                United Kingdom  219.0     126   195    10.4        EU
183                      Tanzania   36.0       6     1     5.7        AF
184                           USA  249.0     158    84     8.7        NA
185                       Uruguay  115.0      35   220     6.6        SA
186                    Uzbekistan   25.0     101     8     2.4        AS
187                       Vanuatu   21.0      18    11     0.9        OC
188                     Venezuela  333.0     100     3     7.7        SA
189                       Vietnam  111.0       2     1     2.0        AS
190                         Yemen    6.0       0     0     0.1        AS
191                        Zambia   32.0      19     4     2.5        AF
192                      Zimbabwe   64.0      18     4     4.7        AF

     cont_AS  cont_EU  cont_NA  cont_OC  cont_SA beer_level
0          1        0        0        0        0        low
1          0        1        0        0        0        low
2          0        0        0        0        0        low
3          0        1        0        0        0       high
4          0        0        0        0        0       high
5          0        0        1        0        0        med
6          0        0        0        0        1        med
7          0        1        0        0        0        low
8          0        0        0        1        0       high
9          0        1        0        0        0       high
10         0        1        0        0        0        low
11         0        0        1        0        0        med
12         1        0        0        0        0        low
13         1        0        0        0        0        low
14         0        0        1        0        0        med
15         0        1        0        0        0        med
16         0        1        0        0        0       high
17         0        0        1        0        0       high
18         0        0        0        0        0        low
19         1        0        0        0        0        low
20         0        0        0        0        1        med
21         0        1        0        0        0        low
22         0        0        0        0        0        med
23         0        0        0        0        1       high
24         1        0        0        0        0        low
25         0        1        0        0        0       high
26         0        0        0        0        0        low
27         0        0        0        0        0        low
28         0        0        0        0        0        low
29         0        0        0        0        0        med
30         1        0        0        0        0        low
31         0        0        0        0        0        med
32         0        0        1        0        0       high
33         0        0        0        0        0        low
34         0        0        0        0        0        low
35         0        0        0        0        1        med
36         1        0        0        0        0        low
37         0        0        0        0        1        med
38         0        0        0        0        0        low
39         0        0        0        0        0        low
40         0        0        0        1        0        low
41         0        0        1        0        0        med
42         0        1        0        0        0       high
43         0        0        1        0        0        low
44         0        1        0        0        0        med
45         0        1        0        0        0       high
46         1        0        0        0        0        low
47         0        0        0        0        0        low
48         0        1        0        0        0       high
49         0        0        0        0        0        low
50         0        0        1        0        0        low
51         0        0        1        0        0        med
52         0        0        0        0        1        med
53         0        0        0        0        0        low
54         0        0        1        0        0        low
55         0        0        0        0        0        low
56         0        0        0        0        0        low
57         0        1        0        0        0       high
58         0        0        0        0        0        low
59         0        0        0        1        0        low
60         0        1        0        0        0       high
61         0        1        0        0        0        med
62         0        0        0        0        0       high
63         0        0        0        0        0        low
64         0        1        0        0        0        low
65         0        1        0        0        0       high
66         0        0        0        0        0        low
67         0        1        0        0        0        med
68         0        0        1        0        0        med
69         0        0        1        0        0        low
70         0        0        0        0        0        low
71         0        0        0        0        0        low
72         0        0        0        0        1        low
73         0        0        1        0        0        low
74         0        0        1        0        0        low
75         0        1        0        0        0       high
76         0        1        0        0        0       high
77         1        0        0        0        0        low
78         1        0        0        0        0        low
79         1        0        0        0        0        low
80         1        0        0        0        0        low
81         0        1        0        0        0       high
82         1        0        0        0        0        low
83         0        1        0        0        0        low
84         0        0        1        0        0        low
85         1        0        0        0        0        low
86         1        0        0        0        0        low
87         1        0        0        0        0        med
88         0        0        0        0        0        low
89         0        0        0        1        0        low
90         1        0        0        0        0        low
91         1        0        0        0        0        low
92         1        0        0        0        0        low
93         0        1        0        0        0       high
94         1        0        0        0        0        low
95         0        0        0        0        0        low